@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");

.main-container {
  font-family: "Blinker", sans-serif !important;
  font-size: 15px;
  background-color: white;
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

.second-container {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
  text-align: left;
  font-family: "Blinker", sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin: 8px 0;
}

.compact p {
  margin: 2px 0;
}

ul {
  padding-left: 20px;
  margin: 5px 0 10px 0;
}

li {
  margin-bottom: 4px;
}

.section-title {
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

/* Enhanced table styling */
.site-details-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Blinker", sans-serif;
  font-size: 14px;
}

.site-details-table th,
.site-details-table td {
  border: 1px solid #999;
  padding: 8px;
  text-align: center;
}

.site-details-table th {
  background-color: #dadada;
  color: #000;
}

.signature-section {
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 20px;
}

.signature-box {
  width: 45%;
}

.signature-box p {
  margin: 4px 0;
}

.signature-line {
  margin-top: 8px;
}

.end-page {
  page-break-after: always;
  break-after: page;
  height: 1px;
  visibility: hidden;
}
.page-break {
  margin-top: 250px;
}
