.sticky-col {
  position: sticky;
  left: 0;
  background: white; /* Ensure it does not overlap with table background */
  z-index: 100;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for separation */
}

#userlist {
  max-height: 100px;
  overflow-y: auto;
}

#userlistitem {
  cursor: pointer;
}
#userlistitem:hover {
  background-color: rgb(209, 209, 201);
}
