@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
:root {
  --primary-green: #96db00;
  --primary-text: #052638;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: 'Blinker', serif;
  font-weight: 500;
  font-style: normal;
}

p,
span,
a,
td,
th,
select,
input,
button,
.btn,
breadcrumb,
div {
  font-family: 'Blinker', serif;
  font-weight: 400;
  font-style: normal;
}

/* Override Bootstrap Button Styles */
.btn-primary,
.btn-success {
  background: var(--primary-green) !important;
  color: var(--primary-text) !important;
  border: none !important;
  font-weight: 600 !important;
}

.custom-btn-primary {
  background: #96db00 !important;
  color: #052638 !important;
  font-weight: 600;
  padding: 4px 8px !important;
}

.btn-primary,
.btn-success:hover {
  background: #96db00;
}

.btn-warning {
  background: #96db00;
  color: #052638;
  border: none;
  font-weight: 600;
}

.btn-dark,
.btn-secondary {
  background: #052638;
  color: #ffffff;
  border: none;
  font-weight: 500;
}

.btn-dark,
.btn-secondary:hover {
  background: #052638 !important;
  color: #ffffff;
}
.btn-primary:hover {
  background: #96db00 !important;
  color: #052638;
}

.bg-primary {
  background: #052638 !important;
  color: #ffffff;
  font-weight: 500;
}

.bg-success {
  background: #96db00 !important;
  color: #052638;
  font-weight: 600;
}
.bg-danger {
  font-weight: 400;
  color: #ffffff;
}

.bg-secondary {
  font-weight: 600;
}

.bg-warning {
  font-weight: 600;
  color: #052638;
}

.text-success {
  color: #96db00 !important;
  font-weight: 600;
}

.text-primary {
  color: #052638 !important;
  font-weight: 600;
}

thead th {
  background: #052638 !important;
  color: #ffffff !important;
}

input[type='text']:focus {
  outline: none;
  border: none;
}
