@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");

:root {
  --primary: #6c71fd;
  --blue: #0b3955;
  --blue-text: #6ce7fd;
  --success: #0dda7a42;
  --success-text: #14ca74;
  --danger: #ff5a6533;
  --danger-text: #ff5a65;
  --primary-text: #fff;
  --warning: #ffb01633;
  --warning-text: #fdb52a;
  --important: #101936;
}

/* Global styles */
body {
  margin: 0;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  font-family: "Blinker", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-style: normal;
  color: #fff;
}

p,
span,
a,
td,
th,
select,
input,
button,
.btn,
.breadcrumb,
div {
  font-weight: 400;
  font-style: normal;
}

/* Links */
a {
  color: var(--primary);
  text-decoration: none;
}

/* Button styles */
.btn,
.btn-primary,
.btn-success,
.btn-dark,
.btn-secondary {
  background: var(--primary) !important;
  color: var(--primary-text) !important;
  border: none !important;
  font-weight: 400 !important;
}

.btn-dark,
.btn-secondary {
  font-weight: 500 !important;
}

.btn-warning {
  background: var(--primary) !important;
  color: var(--primary-text) !important;
  font-weight: 600;
}

.btn-primary:hover,
.btn-success:hover,
.btn-dark:hover,
.btn-secondary:hover {
  background: var(--primary) !important;
  color: var(--primary-text) !important;
}

/* Custom buttons */
.custom-btn-primary {
  background: var(--primary) !important;
  color: var(--primary-text) !important;
  font-weight: 600;
  padding: 4px 8px !important;
}

/* Background styles */
.bg-primary {
  background: var(--primary) !important;
  color: var(--primary-text) !important;
  font-weight: 500;
}

.bg-success {
  background: var(--success) !important;
  color: var(--success-text) !important;
  font-weight: 600;
}

.bg-danger {
  background: var(--danger) !important;
  color: var(--danger-text) !important;
  font-weight: 600;
  border-color: #ff5a6533;
}

.bg-blue {
  background: var(--blue) !important;
  color: var(--blue-text) !important;
  font-weight: 600;
  border-color: #0b3955;
}
.bg-important {
  background: var(--important) !important;
}

.table-important {
  background: var(--important) !important;
}

.bg-secondary,
.bg-warning {
  font-weight: 600;
}

.bg-warning {
  border-color: #ffb01633;
  background: var(--warning) !important;
  color: var(--warning-text) !important;
}

/* Text styles */
.text-success {
  color: #96db00 !important;
  font-weight: 600;
}

.text-primary {
  color: #052638 !important;
  font-weight: 600;
}

/* Form elements */
input[type="text"],
input[type="number"],
input {
  /* border: 0.1px solid rgba(255, 255, 255, 0.6); */
  padding: 8px;
  border-radius: 4px;
  font-size: 13px;
  outline: none !important;
  box-shadow: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Loading container */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Card styles */
.card,
.card-header,
CListGroup,
input {
  background-color: var(--important) !important;
}

/* table {
   background-color: var(--important) !important; 
} */

.card-header {
  color: #adb8d9;
}
.pricing-card-header {
  background-color: rgb(57, 214, 0) !important;
  /* background-color: rgb(57, 214, 0) !important; */
}

.pricing-card {
  border-radius: 0px 30px 0px 30px !important;
  -webkit-border-radius: 0px 30px 0px 30px !important;
  -moz-border-radius: 0px 30px 0px 30px !important;
  -ms-border-radius: 0px 30px 0px 30px !important;
  -o-border-radius: 0px 30px 0px 30px !important;
}

/* Miscellaneous */
icon {
  background-color: var(--primary) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0) invert(1) !important;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(88, 80, 80, 0.3) !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

a:hover {
  cursor: pointer;
}
